.main {
    height: 150vh;
    background-image: url(../images/pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    background-position: right;
    width: 100%;
  }
  
  .header {
    height: 130px;
    box-shadow: 0 0 5px 1px rgb(50, 50, 50);
    border-radius: 6px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #b3b3aa;
    color: white;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    padding-top: 15px;
    /* color: #32110f; */
  }
  nav {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    font-size: 10px;
  }
  /* a {
    text-decoration: none;
    color: red;
  } */
  
  .fa-bars {
    color: white;
    font-size: 25px;
    text-shadow: 4px 4px 5px #979595;
    position: absolute;
    right: 30px;
    /* top: 145px; */
    top: 80px;
    z-index: 200;
    position: fixed;
  }
  
  .side-bar-menu {
    background-color: #c6aa8a;
    box-shadow: 0px 10px 10px #979595;
  }
  
  .side-bar-container ul {
    list-style: none;
    text-align: right;
    margin-right: 30px;
  }
  
  .side-bar-container a {
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-size: 25px;
    font-weight: 100px;
    line-height: 30px;
  }
  
  .side-bar-container a:hover {
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  }
  
  .side-bar-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    /* top: 150px; */
    right: 18px;
    padding: 20px 0px 10px 30px;
    transform: translateX(1em);
    /* z-index: -1; */
    transition: all 0.2s ease-in-out 0.5s;
    border-radius: 5px;
    margin-top: 20px;
    position: fixed;
  }
  
  .side-bar-container:hover .side-bar-menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 0s, 0s, 0.5s;
    z-index: 1;
  }