<div class="cards-div">
  <h2>Favorite Questions</h2>
  <div class="fav-container">
    <ul class="grid-div">
      <li *ngFor="let favorite of favoriteList; let i = index">
        <div class="container">
          <div class="card">
            <div class="front">
              <span>Q[{{ i + 1 }}]: {{ favorite.question.question }}</span>
              <button class="star-button" (click)="removeFromFavorites(favorite.favoriteId)">
                ★
              </button>
            </div>
            <div class="back">
              <span>A: {{ favorite.question.answer }}</span>
              <button class="star-button" (click)="removeFromFavorites(favorite.favoriteId)">
                ★
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>